/* General Styles */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");


body {
  margin: 0;
  font-family: "Poppins", sans-serif;
  color: #324F53;
  display: flex;
  flex-direction: column;
  
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px; 
}

.logo {
  display: flex;
  align-items: center;
}

.logo img {
  height: 46px;
  margin-right: 10px;
}

.logo-text{
  font-size: 1.3rem;
  font-weight: 600;
  color: #324F53;
}

.menu-icon img {
  height: 28px;
  cursor: pointer;
  display: flex;
  justify-content: center;
}
.section{
  display: block;
  background-color: #dddddd;
  width: 1199px;
  height: 56px;
  border-radius: 12px;
  display: flex;
  align-items: center;
  margin-left: 3px;
}

.section h2{
  font-size: 1.3rem;
  font-weight: 600;
  margin-left: 20px;
  color: #324F53;
}
.container {
  display: flex;
  overflow: hidden;
  padding: 5px;
  width: 1190px;
  height: 270px;
}

.image img {
  width: 420px;
  height: 260px;
  margin-top: 10px;
  border-radius: 10px;
}

.details {
  padding: 5px;
  padding-left: 10px;
  padding-bottom: 5px;
  flex-grow: 1;
}

.details p {
  font-size: 1.3rem;
  margin: 0;
}

h2 {
  margin: 0;
  font-size: 1.5em;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 5px;
}

th, td {
  text-align: left;
  padding: 8px;
}

th {
  background-color: #F7D93F;
  color: #324F53;
}

.contact {
  margin-top: 20px;
  padding: 10px;
  background-color:  #dddddd;;
  color: #324F53;
  width: 170px;
  text-align: center;
  font-weight: 600;
  position: relative;
  left: 564px;
}

footer {
  padding: 10px 20px;
  display: flex;
  height: 20px;
  justify-content: space-between;
  align-items: center;
}

footer p {
  margin: 0;
  font-size: 10px;
  color: #324F53;
  font-weight: 600;
}

footer a {
  text-decoration: none;
  color: #324F53;
  font-size: 10px;
  font-weight: 600;
}

/* MEDIAQUERIES */

@media screen and (max-width: 900px) {
  body {
    margin: 0;
    font-family: "Poppins", sans-serif;
    color: #324F53;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }
  .section{
    display: block;
    background-color: #dddddd;
    width: 880px;
    height: 56px;
    border-radius: 12px;
    display: flex;
    align-items: center;
  }
  .container {
    display: flex;
    overflow: hidden;
    padding: 5px;
    width: 870px;
    height: 270px;
  }
  .contact {
    margin-top: 20px;
    padding: 10px;
    background-color:  #dddddd;;
    color: #324F53;
    width: 170px;
    text-align: center;
    font-weight: 600;
    position: relative;
    left: 250px;
  }
}

@media screen and (max-width: 600px) {
  .logo img {
    height: 40px;
    margin-right: 10px;
  }
  
  .logo-text{
    font-size: 16px;
    font-weight: 600;
    color: #324F53;
  }
  .menu-icon img {
    height: 20px;
    display: flex;
    justify-content: center;
    margin-top: 5px;
  }
  .section{
    display: block;
    background-color: #dddddd;
    width: 480px;
    height: 42px;
    border-radius: 12px;
    display: flex;
    align-items: center;
  }
  
  .section h2{
    font-size: 16px;
    font-weight: 600;
    margin-left: 20px;
    color: #324F53;
  }
  .container {
    display: flex;
    overflow: hidden;
    padding: 5px;
    width: 470px;
    height: 180px;
  }
  
  .image img {
    width: 200px;
    height: 140px;
    margin-top: 10px;
    border-radius: 10px;
  }
  
  .details {
    padding-left: 5px;
    padding-bottom: 5px;
    flex-grow: 1;
  }
  
  .details p {
    font-size: 14px;
    margin: 0;
  }
  
  h2 {
    margin: 0;
    font-size: 16px;
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 5px;
  }
  
  th, td {
    text-align: left;
    padding: 8px;
    font-size: 12px;
  }
  
  th {
    background-color: #F7D93F;
    color: #324F53;
    height: 10px;
  }
  
  .contact {
    margin-top: 2px;
    padding: 4px;
    background-color:  #dddddd;
    color: #324F53;
    width: 190px;
    text-align: center;
    font-weight: 600;
    font-size: 12px;
    position: relative;
    left: 110px;
  }
  
  footer {
    padding: 10px 20px;
    display: flex;
    height: 20px;
    justify-content: space-between;
    align-items: center;
  }
}